@mixin linear-gradient-btn {
    background-image: linear-gradient(
            to top left,
            $primarycolor,
            $secondarycolor);
            padding: 15px;
            padding-right: 20px;
            padding-left: 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 3px 10px  #dbdbdb;
    outline: none;
}

@mixin linear-gradient-btn--P2 {
    background-image: linear-gradient(
            to top left,
            $primarycolor,
            $secondarycolor);
    border-radius: 50px;
    border: none;
    box-shadow: 0 3px 10px  #dbdbdb;
    outline: none;
    padding-left: 43px;
	padding-right: 43px;
	text-decoration: none;
	color: white;
    font-weight: 600;
    cursor: pointer;
    margin-left: 104px;
    margin-top: 30px;
    margin-bottom: 35px;
}
